<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head', {title:'Book Details'}) %>

    <body>
        <div class="wrapper">
            <main class="book-detail">
                <%- include('../layout/header') %>
                    <%- include('detail') %>
            </main>
            <div class="push"></div>
            <%- include('../layout/footer') %>
        </div>
    </body>

</html>