<!DOCTYPE html>
<html lang="en">

<%- include('../layout/head', {title:'Search'}) %>

    <body>
        <div class="wrapper">
            <main>
            <%- include('../layout/header') %>

                    <div class="searchBy">
                        <h2>Search By Title Or Author</h2>
                    </div>

                    <div id="formDiv">
                        <form action="/searches" method="POST">
                            <input type="search" name="search" placeholder="Enter your search here" id="search"
                                required>
                            <fieldset>
                                <label id="titleLabel">
                                    <span>Title</span>
                                    <input type="radio" name="search" id="title" value="title" required>
                                </label>
                            </fieldset>
                            <fieldset>
                                <label id="AuthorLabel">
                                    <span>Author</span>
                                    <input type="radio" name="search" id="author" value="author" required>
                                </label>
                            </fieldset>
                            <button type="submit">Search The Google Book API</button>
                        </form>
                    </div>
                </main>
                <div class="push"></div>
                <%- include('../layout/footer') %>
        </div>
    </body>



</html>