<!DOCTYPE html>
<html lang="en">

<head>
    <title>Book Collection</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/state.css">
</head>

<body>
    <main>
        <% searchResults.forEach(book=>{ %>
            <%- include('../books/detail', {book}) %>
                <% }) %>
    </main>
</body>

</html>