<header>
    <h1>Best Books!</h1>
    <nav>
        <ul>
            <li><a href="/" class="header-a">Home</a></li>
            <li><a href="/searches/new" class="header-a">Search</a></li>
        </ul>
    </nav>
</header>