<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/state.css">
  </head>
  <body>
    <main>
      <header>
        <h4>Saved Books</h4>
        <p> <%= results.length %> </p>
      </header>
      <% results.forEach(result =>{ %>
      <div class="bookCards">
        <img src="<%= result.image_url %>" alt="">
        <h3><%= result.title %></h3>
        <h4><%= result.author %></h4>
        <a href="/"><button type="submit">View Details</button></a>
      </div>
      <% }) %>


    </main>
  </body>
</html>