<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/state.css">
  </head>
  <body>
    <main>
      <header>
        <h4>My Book Collection</h4>
      </header>
      <div id="homeDiv">
        <button id="homeButton"><a href="/searches/new" id="goSearch">Go To Search</a></button>
      </div>


    </main>
  </body>
</html>