header{
    display: flex;
    justify-content: center;
    background-color: black;
    justify-content: space-between;
}
#saved-books{
    background-color: #4A4A4A;
    display: flex;
    justify-content: center;
}
.card-div{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    margin-top: 73px;
    flex-direction: column;
    margin: 6%;
    background-color: #D8D8D8;
}
#cards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#searchHeader{
    background-color:#000000 ;
    height: 20%;
    display: flex;
    flex-direction: row-reverse;
}
#searchBy{
    background-color: #4A4A4A;
    padding-bottom: 3%;
    padding-top: 2%;
}
form{
    background-color: #9B9B9B;
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    align-items: center;
}